EE2X_LAUNCHER_UPDATE_HOST=0.0.0.0
EE2X_LAUNCHER_UPDATE_PORT=3011
EE2X_LAUNCHER_UPDATE_ADMIN_USERNAME=ee2x
EE2X_LAUNCHER_UPDATE_ADMIN_PASSWORD=ee2x
EE2X_LAUNCHER_UPDATE_STATIC_BASE_URL=http://115.231.35.105:3011
EE2X_LAUNCHER_UPDATE_STORAGE_ROOT=/opt/ee2x/ee2x_lunch-update/storage
EE2X_LAUNCHER_UPDATE_DB_PATH=/opt/ee2x/ee2x_lunch-update/db/launcher_update.sqlite3
